@media only screen and (min-width: 60em) {
  
    h1 {
      font-size: 36px; 
    }
  
    #dogimg, 
    #catimg {
    width: 300px;
    height: 300px;
    }
  
    #dogButton,
    #catButton,
    footer {
    font-size: 20px;
    }
  

}